<!DOCTYPE html>
<html>
<head>
  <title>Banking System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="/static/css/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href='/static/fontawesome-5_13/css/all.min.css'>
  <style>
    .validation-error-label {
      color: red;
    }
  </style>
</head>
<body>
  <video id="video-background" autoplay loop muted>
    <source src="/static/videos/backg.mp4" type="video/mp4">
  </video>
  <div id="loader" class="loader d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <nav class="navbar navbar-default" style="font-weight: bold; font-size: 18px; border-color: #222822">
    <div class="container-fluid"  style="background-color: #222822">
      <div class="navbar-header">
        <a class="navbar-brand" href=""  style="color: #fff; font-size: 22px">AS BANK</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown {% if url_for(request.endpoint) in ['customer', 'customer_status', 'view_profile'] %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: #fff">
            Customer Management <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('customer') }}" style="color: #fff">Create Customer</a></li>
            <li><a href="{{ url_for('customer_status') }}" style="color: #fff">Customer Status</a></li>
            <li><a href="{{ url_for('customer_search') }}" style="color: #fff">Customer Details</a></li>
          </ul>
        </li>
        <li class="dropdown {% if url_for(request.endpoint) in ['account', 'account_status', 'account_view_profile'] %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: #fff">
            Account Management <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('account') }}" style="color: #fff">Create Account</a></li>
            <li><a href="{{ url_for('account_status') }}" style="color: #fff">Account Status</a></li>
            <li><a href="{{ url_for('account_search') }}" style="color: #fff">Account Details</a></li>
          </ul>
        </li>
        <li class="{% if url_for(request.endpoint) == url_for('account_statement') %}active{% endif %}">
          <a href="{{ url_for('account_statement') }}" style="color: #fff">Account Statement</a>
        </li>
        {% if session['username'] %}
          <li><a href="{{ url_for('logout') }}" style="color: red">Logout</a></li>
        {% else %}
          <li{% if url_for(request.endpoint) == url_for('home') %} class="active"{% endif %}>
            <a href="{{ url_for('home') }}"  style="color: green">Login</a>
          </li>
        {% endif %}
      </ul>
      {% if session['username'] %}
        <div style="float: right; margin-top: 1vh; font-family: monospace; font-weight: bolder; font-size: 20px; color: #fff">
          Welcome, {{ session['username'] }}
        </div>
      {% endif %}
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/javascript/datatables.min.js"></script>
  <script src="/static/javascript/jquery.validate.js"></script>
  <script src="/static/javascript/validation.js"></script>
  <script src="/static/javascript/style.js"></script>
  <script>
    $(function() {
      $("#datepicker").datepicker();
    });
  </script>
</body>
</html>
